.home {
    display: flex;
    flex-wrap: wrap;

    .main {
        padding-left: 50px;
        flex-grow: 1;
    
        h2 { 
            font-size: 4.5em;
            max-width: 600px;
            margin: 0 0 20px 0;

            span {
                display: block;
            }
        }
        h3 {
            font-size: 1.5em;
            padding-bottom: 20px;
        }
    }
    
    .right-menu {
        h4 {
            margin-bottom: 20px;
            width: 185px;
        }
        .maps-button {
            display: block;
            border: none;
            background: url('/assets/img/google-maps.svg') center 10px no-repeat;
            background-size: 48px;
            padding: 70px 10px 10px;
            width: 185px;
            border-left: 2px solid #EF5350;
            color: #333;
        }
        
        .maps-button p {
            font-size: 1.2em;
            margin: 0;
        }

        .maps-button:hover {
            background-color: #fafafa;
        }
    }
    @media only screen and (max-width: 865px) and (min-width: 720px) {
        .right-menu {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding-top: 30px;

            h4 {
                margin-bottom: 0;
            }
            h4 div, .maps-button {
                border: none;
            }
        }
    }

    @media only screen and (max-width: 719px) {
        .main {
            padding-left: 20px;
            h2 {
                font-size: 2.3em;
                span {
                    display: inline;
                }
            }
            h3 {
                font-size: 1.2em;
            }
        }
        .right-menu {
            width: 100%;
            padding-top: 30px;

            .maps-button {
                background-size: 35px;
                padding: 15px 0 15px 60px;
                background-position: 10px 8px;
                text-align: left;
            }

            .maps-button, h4 {
                width: 100%;
            }
        }
    }
}
