.main-content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
header {
    padding-bottom: 100px;
    
    .header-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        h1 {
            display: inline;
        }

        nav.main-menu a {
            margin: 0 20px;
            padding: 0 10px;
            color: #404040;
            font-weight: 600;
            font-size: 1.3em;
            font-weight: bold;
            text-decoration: none;
            opacity: 0.7;
        }
        
        nav.main-menu a:hover, nav.main-menu a.selected {
            padding-bottom: 2px;
            border-bottom: 1px solid #EF5350;
            opacity: 1;
        }
    }

    button.action-btn {
        color: #fff;
        background: #EF5350;
        border: none;
        padding: 6px 20px;
        font-size: 1.1em;
        font-family: 'Baloo', cursive;
    }

}
    
.languages {
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 1.3em;
    z-index: 99999;

    a {
        color: #EF5350;
        text-decoration: none;
        font-family: 'Baloo';
    }
}

@media only screen and (max-width: 865px) and (min-width: 641px) {
    header {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 640px) {
    header {
        padding-bottom: 30px;

        .header-main {
            padding: 0;

            nav.main-menu {
                padding-top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
            h1.main-title {
                padding: 8.5px 0 2.5px 12px;
            }
        }
        button.action-btn {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }
}
